/*navbar*/

.nav-item, #kinda-logo {
  padding: .5rem 1rem;
  padding-right: .5rem;
  padding-left: .5rem;
}
.nav-item a, #kinda-logo {
  color: rgba(255,255,255,.5);
}
.nav-item a:hover, #kinda-logo:hover {
  color: rgba(255,255,255,.95);
  text-decoration: none;
}

/*header*/

#banner {
  background-image: url('/assets/banner.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #fffe;
}

#countdown {
  display: inline-block;
  width: auto;
}

#countdown_wrapper {
  text-align: center;
}

#header_content {
  background: #0008;
  padding: 3vh;
}


section {padding: 50px 0;}

html {
    position: relative;
    min-height: 100%;
    scroll-behavior: smooth;
}
body {
    margin: 0 0 100px;
    /* bottom = footer height */
    /*padding: 25px; */
}
footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
    overflow:hidden;
}

/* tables */
table {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, table th {
  border: 1px solid #ddd;
  padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2;}

tr:hover {background-color: #ddd;}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}
