@media (max-width: 767px) {
  .align-left,  .align-center,  .mbr-section-btn,  .mbr-section-title {
    text-align: center;
  }
}

/*! Font-weight  */

.mbr-light {
  font-weight: 300;
}

/*! Media  */

.media-content {
  -webkit-flex-basis: 100%;
  flex-basis: 100%;
}

.media-container-row {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-align-items: start;
  -ms-flex-align: start;
  align-items: start;
}

@media (min-width: 992px) {
  .media-container-row {
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }
}

.card {
  background-color: transparent;
  border: none;
}

.card-box {
  width: 100%;
}

.card-img {
  text-align: center;
  flex-shrink: 0;
  -webkit-flex-shrink: 0;
}

.media {
  max-width: 100%;
  margin: 0 auto;
}

.media-container > div {
  max-width: 100%;
}

.card-img img {
  width: 100%;
}

@media (max-width: 991px) {
  .media {
    width: auto;
  }
}

/*! Buttons */

.mbr-section-btn {
  margin-left: -.25rem;
  margin-right: -.25rem;
  font-size: 0;
}

@keyframes arrowdown {
  0% {
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
  }

  50% {
    transform: translateY(-5px);
    -webkit-transform: translateY(-5px);
  }

  100% {
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
  }
}

@-webkit-keyframes arrowdown {
  0% {
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
  }

  50% {
    transform: translateY(-5px);
    -webkit-transform: translateY(-5px);
  }

  100% {
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
  }
}

/*Gradients animation*/

@keyframes gradient-animation {
  from {
    background-position: 0% 100%;
    animation-timing-function: ease-in-out;
  }

  to {
    background-position: 100% 0%;
    animation-timing-function: ease-in-out;
  }
}

@-webkit-keyframes gradient-animation {
  from {
    background-position: 0% 100%;
    animation-timing-function: ease-in-out;
  }

  to {
    background-position: 100% 0%;
    animation-timing-function: ease-in-out;
  }
}

.row {
  display: -webkit-flex;
  -webkit-flex-wrap: wrap;
}

.card-wrapper {
  -webkit-flex: 1;
}

.media {
  display: -webkit-flex;
}

.engine {
  position: absolute;
  text-indent: -2400px;
  text-align: center;
  padding: 0;
  top: 0;
  left: -2400px;
}@import url(https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,500,500i,700,700i,900,900i);

body {
  font-style: normal;
  line-height: 1.5;
}

.mbr-section-title {
  font-style: normal;
  line-height: 1.2;
}

.mbr-section-subtitle {
  line-height: 1.3;
}

.mbr-text {
  font-style: normal;
  line-height: 1.6;
}

.display-1 {
  font-family: 'Rubik', sans-serif;
  font-size: 4.25rem;
}

.display-2 {
  font-family: 'Rubik', sans-serif;
  font-size: 3rem;
}

.display-4 {
  font-family: 'Rubik', sans-serif;
  font-size: 1rem;
}

.display-5 {
  font-family: 'Rubik', sans-serif;
  font-size: 1.5rem;
}

.display-7 {
  font-family: 'Rubik', sans-serif;
  font-size: 1rem;
}

/* ---- Fluid typography for mobile devices ---- */

/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */

/* 100vw - current viewport width */

/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */

/* 0.65 - min scale variable, may vary */

@media (max-width: 768px) {
  .display-1 {
    font-size: 3.4rem;
    font-size: calc( 2.1374999999999997rem + (4.25 - 2.1374999999999997) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (2.1374999999999997rem + (4.25 - 2.1374999999999997) * ((100vw - 20rem) / (48 - 20))));
  }

  .display-2 {
    font-size: 2.4rem;
    font-size: calc( 1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20))));
  }

  .display-4 {
    font-size: 0.8rem;
    font-size: calc( 1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20))));
  }

  .display-5 {
    font-size: 1.2rem;
    font-size: calc( 1.175rem + (1.5 - 1.175) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.175rem + (1.5 - 1.175) * ((100vw - 20rem) / (48 - 20))));
  }
}

/* Buttons */

.btn {
  font-weight: 500;
  border-width: 2px;
  font-style: normal;
  letter-spacing: 1px;
  margin: .4rem .8rem;
  white-space: normal;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  word-break: break-word;
  -webkit-align-items: center;
  -webkit-justify-content: center;
  display: -webkit-inline-flex;
  padding: 1rem 3rem;
  border-radius: 3px;
}

.btn-md {
  font-weight: 500;
  letter-spacing: 1px;
  margin: .4rem .8rem !important;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 1rem 3rem;
  border-radius: 3px;
}

.btn-lg {
  font-weight: 500;
  letter-spacing: 1px;
  margin: .4rem .8rem !important;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 1.2rem 3.2rem;
  border-radius: 3px;
}

.btn-primary,.btn-primary:active {
  background-color: #149dcc !important;
  border-color: #149dcc !important;
  color: #ffffff !important;
}

.btn-primary:hover,.btn-primary:focus {
  color: #ffffff !important;
  background-color: #0d6786 !important;
  border-color: #0d6786 !important;
}

.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #0d6786 !important;
  border-color: #0d6786 !important;
}

.btn-info,.btn-info:active {
  background-color: #82786e !important;
  border-color: #82786e !important;
  color: #ffffff !important;
}

.btn-info:hover,.btn-info:focus {
  color: #ffffff !important;
  background-color: #59524b !important;
  border-color: #59524b !important;
}

.btn-info:disabled {
  color: #ffffff !important;
  background-color: #59524b !important;
  border-color: #59524b !important;
}

.text-primary {
  color: #149dcc !important;
}

.text-info {
  color: #82786e !important;
}

a.text-primary:hover,a.text-primary:focus {
  color: #0b566f !important;
}

a.text-info:hover,a.text-info:focus {
  color: #4b453f !important;
}

a,a:hover {
  color: #149dcc;
}

/* Scroll to top button*/

/* Others*/

.mbr-overlay {
  background-color: #000;
  bottom: 0;
  left: 0;
  opacity: .5;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
  pointer-events: none;
}

/* Forms */

@media (max-width: 767px) {
  .btn {
    font-size: .75rem !important;
  }
}

/* Social block */

/* Footer */

/* Headers*/

.card-img {
  width: auto;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .card-wrapper {
    flex: auto!important;
  }
}

.cid-rP02WLPwqa {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #efefef;
}

.cid-rP02WLPwqa .mbr-section-subtitle {
  color: #767676;
}

.cid-rP02WLPwqa .mbr-text {
  color: #767676;
}

.cid-rP02WLPwqa .card {
  display: -webkit-flex;
  position: relative;
  justify-content: center;
  -webkit-justify-content: center;
}

.cid-rP02WLPwqa .card-wrapper {
  height: 100%;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
  transition: box-shadow 0.3s;
}

.cid-rP02WLPwqa .card-wrapper .card-img {
  display: -webkit-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  -webkit-flex-direction: column;
  -webkit-align-items: center;
  -webkit-justify-content: center;
}

.cid-rP02WLPwqa .card-wrapper .card-img .mbr-overlay {
  background-color: #efefef;
  display: none;
  transition: opacity .3s;
}

.cid-rP02WLPwqa .card-wrapper .card-img .mbr-section-btn {
  display: flex;
  position: absolute;
  transition: opacity .3s;
  width: 100%;
  margin: auto;
  left: 0;
  justify-content: center;
  align-items: center;
  -webkit-justify-content: center;
  -webkit-align-items: center;
}

.cid-rP02WLPwqa .card-wrapper .card-img img {
  width: 100%;
}

.cid-rP02WLPwqa .card-wrapper .card-box {
  background-color: #ffffff;
  padding: 0 2rem 2rem 2rem;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.cid-rP02WLPwqa .card-wrapper .card-box h4 {
  font-weight: 500;
  margin-bottom: 0;
  padding-top: 2rem;
}

.cid-rP02WLPwqa .card-wrapper .card-box p {
  margin-bottom: 0;
  padding-top: 1.5rem;
}

.cid-rP02WLPwqa .card-wrapper:hover {
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.05);
  transition: box-shadow 0.3s;
}

.cid-rP02WLPwqa .popup-btn .mbr-overlay {
  display: block !important;
  opacity: 0;
}

.cid-rP02WLPwqa .popup-btn .mbr-section-btn {
  height: 100%;
  display: -webkit-flex !important;
  opacity: 0;
}

.cid-rP02WLPwqa .popup-btn:hover .mbr-overlay {
  opacity: .5;
}

.cid-rP02WLPwqa .popup-btn:hover .mbr-section-btn {
  opacity: 1;
}

.cid-rP05SFFJpA {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #efefef;
}

.cid-rP05SFFJpA .mbr-section-subtitle {
  color: #767676;
}

.cid-rP05SFFJpA .mbr-text {
  color: #767676;
}

.cid-rP05SFFJpA .card {
  display: -webkit-flex;
  position: relative;
  justify-content: center;
  -webkit-justify-content: center;
}

.cid-rP05SFFJpA .card-wrapper {
  height: 100%;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
  transition: box-shadow 0.3s;
}

.cid-rP05SFFJpA .card-wrapper .card-img {
  display: -webkit-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  -webkit-flex-direction: column;
  -webkit-align-items: center;
  -webkit-justify-content: center;
}

.cid-rP05SFFJpA .card-wrapper .card-img .mbr-overlay {
  background-color: #efefef;
  display: none;
  transition: opacity .3s;
}

.cid-rP05SFFJpA .card-wrapper .card-img .mbr-section-btn {
  display: flex;
  position: absolute;
  transition: opacity .3s;
  width: 100%;
  margin: auto;
  left: 0;
  justify-content: center;
  align-items: center;
  -webkit-justify-content: center;
  -webkit-align-items: center;
}

.cid-rP05SFFJpA .card-wrapper .card-img img {
  width: 100%;
}

.cid-rP05SFFJpA .card-wrapper .card-box {
  background-color: #ffffff;
  padding: 0 2rem 2rem 2rem;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.cid-rP05SFFJpA .card-wrapper .card-box h4 {
  font-weight: 500;
  margin-bottom: 0;
  padding-top: 2rem;
}

.cid-rP05SFFJpA .card-wrapper .card-box p {
  margin-bottom: 0;
  padding-top: 1.5rem;
}

.cid-rP05SFFJpA .card-wrapper:hover {
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.05);
  transition: box-shadow 0.3s;
}

.cid-rP05SFFJpA .popup-btn .mbr-overlay {
  display: block !important;
  opacity: 0;
}

.cid-rP05SFFJpA .popup-btn .mbr-section-btn {
  height: 100%;
  display: -webkit-flex !important;
  opacity: 0;
}

.cid-rP05SFFJpA .popup-btn:hover .mbr-overlay {
  opacity: .5;
}

.cid-rP05SFFJpA .popup-btn:hover .mbr-section-btn {
  opacity: 1;
}

.cid-rP05TinjT1 {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #efefef;
}

.cid-rP05TinjT1 .mbr-section-subtitle {
  color: #767676;
}

.cid-rP05TinjT1 .mbr-text {
  color: #767676;
}

.cid-rP05TinjT1 .card {
  display: -webkit-flex;
  position: relative;
  justify-content: center;
  -webkit-justify-content: center;
}

.cid-rP05TinjT1 .card-wrapper {
  height: 100%;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
  transition: box-shadow 0.3s;
}

.cid-rP05TinjT1 .card-wrapper .card-img {
  display: -webkit-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  -webkit-flex-direction: column;
  -webkit-align-items: center;
  -webkit-justify-content: center;
}

.cid-rP05TinjT1 .card-wrapper .card-img .mbr-overlay {
  background-color: #efefef;
  display: none;
  transition: opacity .3s;
}

.cid-rP05TinjT1 .card-wrapper .card-img .mbr-section-btn {
  display: flex;
  position: absolute;
  transition: opacity .3s;
  width: 100%;
  margin: auto;
  left: 0;
  justify-content: center;
  align-items: center;
  -webkit-justify-content: center;
  -webkit-align-items: center;
}

.cid-rP05TinjT1 .card-wrapper .card-img img {
  width: 100%;
}

.cid-rP05TinjT1 .card-wrapper .card-box {
  background-color: #ffffff;
  padding: 0 2rem 2rem 2rem;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.cid-rP05TinjT1 .card-wrapper .card-box h4 {
  font-weight: 500;
  margin-bottom: 0;
  padding-top: 2rem;
}

.cid-rP05TinjT1 .card-wrapper .card-box p {
  margin-bottom: 0;
  padding-top: 1.5rem;
}

.cid-rP05TinjT1 .card-wrapper:hover {
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.05);
  transition: box-shadow 0.3s;
}

.cid-rP05TinjT1 .popup-btn .mbr-overlay {
  display: block !important;
  opacity: 0;
}

.cid-rP05TinjT1 .popup-btn .mbr-section-btn {
  height: 100%;
  display: -webkit-flex !important;
  opacity: 0;
}

.cid-rP05TinjT1 .popup-btn:hover .mbr-overlay {
  opacity: .5;
}

.cid-rP05TinjT1 .popup-btn:hover .mbr-section-btn {
  opacity: 1;
}