<link rel="stylesheet" type="text/css" href="/css/accomodaties.css">
<section class="features18 popup-btn-cards cid-rP02WLPwqa" id="features18-8">
    <div class="container">
        <div class="media-container-row pt-5 ">
            <div class="card p-3 col-12 col-md-6 col-lg-4">
                <div class="card-wrapper  popup-btn">
                    <div class="card-img">
                        <div class="mbr-overlay"></div>
                        <div class="mbr-section-btn text-center"><a href="http://www.bitterenzoet.nl" class="btn btn-primary display-4">Learn More</a></div>
                        <img src="/assets/accomodaties/1545241-v2-1.webp">
                    </div>
                    <div class="card-box">
                        <h4 class="card-title mbr-fonts-style display-7">Hotel Bitter en Zoet</h4>
                        <p class="mbr-text mbr-fonts-style align-left display-7">Hospitaallaan 16, Veenhuizen <br><strong>Tel:</strong> 0592 385002 <br><strong>E-mail</strong>: info@bitterenzoet.nl
                        </p>
                    </div>
                </div>
            </div>
            <div class="card p-3 col-12 col-md-6 col-lg-4">
                <div class="card-wrapper popup-btn">
                    <div class="card-img">
                        <div class="mbr-overlay"></div>
                        <div class="mbr-section-btn text-center"><a href="http://www.hotelkarsten.nl" class="btn btn-primary display-4">Learn More</a></div>
                        <img src="/assets/accomodaties/106442-v2-1.webp">
                    </div>
                    <div class="card-box">
                        <h4 class="card-title mbr-fonts-style display-7">Hotel "Karsten"</h4>
                        <p class="mbr-text mbr-fonts-style display-7">
                           Brink 6, 9331 AA, Norg<br><strong> Tel: </strong> (+31)(0)592 613484<br><strong>E-mail:</strong> info@hotelkarsten.nl<br>
                        </p>
                    </div>
                </div>
            </div>
            <div class="card p-3 col-12 col-md-6 col-lg-4">
                <div class="card-wrapper popup-btn">
                    <div class="card-img">
                        <div class="mbr-overlay"></div>
                        <div class="mbr-section-btn text-center"><a href="http://hotelnorg.nl" class="btn btn-primary display-4">Learn More</a></div>
                        <img src="/assets/accomodaties/e2233570-676x507.jpg">
                    </div>
                    <div class="card-box">
                        <h4 class="card-title mbr-fonts-style display-7">
                            Hotel Norg</h4>
                        <p class="mbr-text mbr-fonts-style display-7">
                             Westeind 7, 9331 CA, Norg <br><strong>Tel:</strong>  (+31)(0)592 421 91<br><strong>E-mail</strong>: info@hotelnorg.nl<br>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="features18 popup-btn-cards cid-rP02WLPwqa" id="features18-8">
    <div class="container">
        <div class="media-container-row pt-5 ">
            <div class="card p-3 col-12 col-md-6 col-lg-4">
                <div class="card-wrapper  popup-btn">
                    <div class="card-img">
                        <div class="mbr-overlay"></div>
                        <div class="mbr-section-btn text-center"><a href="https://www.jachtluststeenbergen.nl/" class="btn btn-primary display-4">Learn More</a></div>
                        <img src="/assets/accomodaties/wp-20150702-20-40-28-pro-1-676x379.jpg">
                    </div>
                    <div class="card-box">
                        <h4 class="card-title mbr-fonts-style display-7">Hotel "Jachtlust"</h4>
                        <p class="mbr-text mbr-fonts-style align-left display-7">Hoofdweg 22, 9307 PB, Steenbergen <br><strong>Tel:</strong> (+31)(0)592 656363<br></p>
                    </div>
                </div>
            </div>
            <div class="card p-3 col-12 col-md-6 col-lg-4">
                <div class="card-wrapper popup-btn">
                    <div class="card-img">
                        <div class="mbr-overlay"></div>
                        <div class="mbr-section-btn text-center"><a href="https://www.zoover.nl/nederland/drenthe/norg/norger-erven/vakantiehuis" class="btn btn-primary display-4">Learn More</a></div>
                        <img src="/assets/accomodaties/e334884-676x507.jpg">
                    </div>
                    <div class="card-box">
                        <h4 class="card-title mbr-fonts-style display-7">Appartement " De Norger Erven"</h4>
                        <p class="mbr-text mbr-fonts-style display-7">
                           Brink 16a 9331 AB Norg<br><strong>Tel:</strong>  (+31)(0)592 613579<br><strong>E-mail:</strong>  info@jagerverhuur.nl<br>
                        </p>
                    </div>
                </div>
            </div>
            <div class="card p-3 col-12 col-md-6 col-lg-4">
                <div class="card-wrapper popup-btn">
                    <div class="card-img">
                        <div class="mbr-overlay"></div>
                        <div class="mbr-section-btn text-center"><a href="http://norgerberg.nl" class="btn btn-primary display-4">Learn More</a></div>
                        <img src="/assets/accomodaties/kamperen-camping-norgerberg-drenthe15-132491539-676x451.jpg">
                    </div>
                    <div class="card-box">
                        <h4 class="card-title mbr-fonts-style display-7">Camping " De Norgerberg"</h4>
                        <p class="mbr-text mbr-fonts-style display-7">
                             Langeloërweg 63, 9331 VA Norg<br><strong>Tel:</strong>  0592 612 281<br><strong>E-mail</strong>: info@norgerberg.nl <br>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>