<!-- Footer -->
<footer class="bg-dark">
  <div class="container">
    <p class="m-0 text-center align-middle text-white">
       {% if page.url contains "/nl/" %} Dit evenement wordt mede mogelijk gemaakt door de <a href="https://horsepowerrun.nl/nl/links"> Vrienden van de HorsePowerRun. </a> {% endif %}

       {% if page.url contains "/en/" %} This event is made possible by the <a href="https://horsepowerrun.nl/en/links"> Friends of the HorsePowerRun. </a> {% endif %}
	     {% if page.url contains "/de/" %} Dieses Ereignis wird durch die <a href="https://horsepowerrun.nl/de/links"> Freunde des HorsePowerRun </a> ermöglicht. {% endif %}
       {% if page.url contains "/fr/" %} Cet événement est rendu possible par les <a href="https://horsepowerrun.nl/fr/links"> Amis du HorsePowerRun. </a> {% endif %}
	   <br> 
   	   Copyright © 2020 Stichting HorsePowerRun.
      </p>
      <p class="m-0 text-center align-middle text-white">
        <strong>Email</strong>: <a href="mailto:horsepowerrun@gmail.com">horsepowerrun@gmail.com</a>
        <strong>Post</strong>: Petrus Campersingel 19, 9713 AC Groningen
        <strong>Telefoon</strong>: (+31) 050 3140662 (secretaris HPR) of (+31) 06 25034686
      </p>
  </div>
</footer>
