<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

<footer class="text-white" style="background-color: #23242a;">
  <div class="container" style="display:flex; flex-direction: column; align-items: center;">

        <ul class="fa-ul">
          <li class="mb-3">
            <span class="fa-li"><i class="fas fa-home"></i></span><span class="ms-2">Petrus Campersingel 19, 9713 AC Groningen</span>
          </li>
          <li class="mb-3">
            <span class="fa-li"><i class="fas fa-envelope"></i></span><span class="ms-2"><a href="mailto:horsepowerrun@gmail.com" style="color: white;">horsepowerrun@gmail.com</a></span>
          </li>
          <li class="mb-3">
            <span class="fa-li"><i class="fas fa-phone"></i></span><span class="ms-2">(+31) 050 3140662 (secretaris HPR)</span>
          </li>
          <li class="mb-3">
            <span class="fa-li"><i class="fas fa-phone"></i></span><span class="ms-2">(+31) 06 25034686</span>
          </li>
        </ul>
  </div>

  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    {% if page.url contains "/nl/" %} Dit evenement wordt mede mogelijk gemaakt door de <a href="https://horsepowerrun.nl/nl/links"> Vrienden van de HorsePowerRun. </a> {% endif %}
    {% if page.url contains "/en/" %} This event is made possible by the <a href="https://horsepowerrun.nl/en/links"> Friends of the HorsePowerRun. </a> {% endif %}
    <br>
    Copyright © 2020 Stichting HorsePowerRun.
  </div>
</footer>
