<script type="text/javascript">
	function setIframeHeight(id) {
	    var ifrm = document.getElementById(id);
	    var doc = ifrm.contentDocument? ifrm.contentDocument: 
	        ifrm.contentWindow.document;
	    ifrm.style.visibility = 'hidden';
	    ifrm.style.height = "10px"; // reset to minimal height ...
	    // IE opt. for bing/msn needs a bit added or scrollbar appears
	    ifrm.style.height = getDocHeight( doc ) + 4 + "px";
	    ifrm.style.visibility = 'visible';
	}

	function getDocHeight(doc) {
	    doc = doc || document;
	    // stackoverflow.com/questions/1145850/
	    var body = doc.body, html = doc.documentElement;
	    var height = Math.max( body.scrollHeight, body.offsetHeight, 
	        html.clientHeight, html.scrollHeight, html.offsetHeight );
	    return height;
	}
</script>

<iframe id="inschrijfform" onload="setIframeHeight(this.id)" src="https://docs.google.com/forms/d/e/1FAIpQLScO9LLRetYUZs6fPfbqkV92gAU_hRO8bf5CnDlx-1ncJQlMPA/viewform?embedded=true" width="100%" height="100%" frameborder="0" marginheight="0" marginwidth="0">Laden…</iframe>