<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="navbar-toggler-icon"></span>
      </button>
        <a class="navbar-brand" href="/">
          <img src="/assets/logo_burned.png" height="50px" width="30px">
        </a>
    </div>

  <div class="collapse navbar-collapse" id="navbar-collapse-1">
    <ul class="navbar-nav mr-auto">

      {% if page.url contains "/nl/" %}
        {% for item in site.data.nav %}
          <li class="nav-item{% if page.title == item.name %} active{% endif %}">
            <a class="nav-link" href="{{ item.link }}"> {{ item.name }}
            {% if page.title == item.name %} <span class="sr-only">(current)</span> {% endif %}
            </a>
          </li>
        {% endfor %}
      {% endif %}

      {% if page.url contains "/en/" %}
        {% for item in site.data.nav-en %}
          <li class="nav-item{% if page.title == item.name %} active{% endif %}">
            <a class="nav-link" href="{{ item.link }}"> {{ item.name }}
            {% if page.title == item.name %} <span class="sr-only">(current)</span> {% endif %}
            </a>
          </li>
        {% endfor %}
      {% endif %}

      {% if page.url contains "/de/" %}
        {% for item in site.data.nav-de %}
          <li class="nav-item{% if page.title == item.name %} active{% endif %}">
            <a class="nav-link" href="{{ item.link }}"> {{ item.name }}
            {% if page.title == item.name %} <span class="sr-only">(current)</span> {% endif %}
            </a>
          </li>
        {% endfor %}
      {% endif %}

    </ul>
    <ul class="navbar-nav ml-auto">
      {% unless page.url contains "/nl/" %}
      <li class="nav-item">
        <a class="nav-link" href="/nl/">Nederlands <img src="../assets/nl.svg"></a>
      </li>
      {% endunless %}

      {% unless page.url contains "/en/" %}
      <li class="nav-item">
        <a class="nav-link" href="/en/">English <img src="../assets/en.svg"></a>
      </li>
      {% endunless %}

      {% unless page.url contains "/de/" %}
      <li class="nav-item">
        <a class="nav-link" onclick="alert('Leider ist die deutsche Version dieser Internetseite noch nicht verfügbar. Dies wird bald online sein. Sie können sich bereits registrieren. \n \nGrüße, Team HorsePowerRun')">Deutsch <img src="../assets/de.svg"></a>
      </li>
      {% endunless %}
    </ul>
  </div>
</div>
</nav>