<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="navbar-toggler-icon"></span>
      </button>
        <a class="navbar-brand" href="/">
          <img src="/assets/img/logo_burned.png" height="60px" width="50px">
        </a>
    </div>

  <div class="collapse navbar-collapse" id="navbar-collapse-1">
    <ul class="navbar-nav mr-auto">

      {% if page.url contains "/nl/" %}
        {% for p in site.menus.nav_nl %}
          <li class="nav-item{% if page.title == p.title %} active{% endif %}">
            <a class="nav-link" href="{{ p.url }}"> {{ p.title }}
            {% if page.title == p.title %} <span class="sr-only">(current)</span> {% endif %}
            </a>
          </li>
        {% endfor %}
      {% endif %}

      {% if page.url contains "/en/" %}
        {% for p in site.menus.nav_en %}
          <li class="nav-item{% if page.title == p.title %} active{% endif %}">
            <a class="nav-link" href="{{ p.url }}"> {{ p.title }}
            {% if page.title == p.title %} <span class="sr-only">(current)</span> {% endif %}
            </a>
          </li>
        {% endfor %}
      {% endif %}

      {% if page.url contains "/de/" %}
        {% for p in site.menus.nav_de %}
          <li class="nav-item{% if page.title == p.title %} active{% endif %}">
            <a class="nav-link" href="{{ p.url }}"> {{ p.title }}
            {% if page.title == p.title %} <span class="sr-only">(current)</span> {% endif %}
            </a>
          </li>
        {% endfor %}
      {% endif %}

    </ul>
    <ul class="navbar-nav ml-auto">
      {% unless page.url contains "/nl/" %}
      <li class="nav-item">
        <a class="nav-link" href="/nl/">Nederlands <img src="../assets/img/nl.svg"></a>
      </li>
      {% endunless %}

      {% unless page.url contains "/en/" %}
      <li class="nav-item">
        <a class="nav-link" href="/en/">English <img src="../assets/img/en.svg"></a>
      </li>
      {% endunless %}

      {% unless page.url contains "/de/" %}
      <li class="nav-item">
        <a class="nav-link" href="https://horsepowerrun-nl.translate.goog/nl/?_x_tr_sl=en&_x_tr_tl=de">Deutsch <img src="../assets/img/de.svg"></a>
      </li>
      {% endunless %}
    </ul>
  </div>
</div>
</nav>
