<style>
  .slide-track {
    display: flex;
    gap: 3em;
    overflow: hidden;
    width: max-content; /* Allow continuous flow */
    animation: scroll 20s linear infinite;
    /* Add fading effect */
    -webkit-mask-image: linear-gradient(to right, transparent 0%, black 10%, black 90%, transparent 100%);
    mask-image: linear-gradient(to right, transparent 0%, black 10%, black 90%, transparent 100%);
  }

  .slide > img {
    height: 50px;
    max-width: none;
  }

  @keyframes scroll {
    0% { transform: translateX(0); }
    100% { transform: translateX(-50%); } /* Move only half so loop stays seamless */
  }
</style>

<div class="slider">
  <div class="slide-track">
    {% for i in (1..2) %} <!-- Duplicate the slides for looping -->
      {% for sponsor in site.data.sponsors %}
        <div class="slide">
          <img src="{{sponsor}}" alt="{{ sponsor }}" />
        </div>
      {% endfor %}
    {% endfor %}
  </div>
</div>