<!-- <style>
.flex-logos_container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.flex-item {
  margin: auto;
}
</style>

<div class="flex-logos_container">
  {% for sponsor in site.data.sponsors %}
    <div class="flex-item">
      <img src="{{sponsor}}" alt="{{ sponsor }}" style="height: 100px;" class="img-responsive" />
    </div>
  {% endfor %}
</div> -->


<style>
  .slide > img {
    width: 100px;
    height: 100px;
    animation: scroll 60s linear infinite;
    max-width: none;
  }

  .slide-track {
    width: 100%;
    display: flex;
    gap: 3em;
    overflow: hidden;
  }

  .slider {
    margin-top: 70px;
    /* background-color: whitesmokea */
    padding: 8em 2em;
  }

  @keyframes scroll {
    0% {transform: translateX(0);}
    100% {transform: translatex(-1000%)}
  }
</style>

<div class="slider">
  <div class="slide-track">
    {% for i in (1..5) %}
      {% for sponsor in site.data.sponsors %}
        <div class="slide">
          <img src="{{sponsor}}" alt="{{ sponsor }}" />
        </div>
      {% endfor %}
    {% endfor %}
  </div>
</div>