<style>
.flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.flex-item {
  margin: auto;
}
</style>

<div class="flex-container">
  <div class="flex-item">
    <img src="/assets/img/sponsors/auto_louwes.jpg" alt="1" class="img-responsive" />
  </div>
  <div class="flex-item">
    <img src="/assets/img/sponsors/Bert_Pol.jpg" alt="2" class="img-responsive" />
  </div>
  <div class="flex-item">
    <img src="/assets/img/sponsors/cafetanker.jpg" alt="3" class="img-responsive" />
  </div>
  <div class="flex-item">
    <img src="/assets/img/sponsors/GevangenisMuseum.jpg" alt="4" class="img-responsive" />
  </div>
  <div class="flex-item">
    <img src="/assets/img/sponsors/yesterdays.jpg" alt="5"class="img-responsive" />
  </div>
</div>