<div id="participants-table"></div>
<script src="/assets/js/csv.js"></script>
<script type="text/javascript">
	// let url = 'https://docs.google.com/spreadsheets/d/e/2PACX-1vQ1AIj81gCogM80A8Tl5ShboPhXEpU2K7_cwtcYzqh1WDYAj0IP7vAxKMRciZTEFeMan3cToeliHryb/pub?gid=318886033&single=true&output=csv';
	const pageUrl = '{{ page.url }}';
	const lang = pageUrl.includes('/nl/') ? 'nl' : 'en';
	let url = `https://hpr-participants.caprover.justniels.nl/participants/${lang}.csv`;
	let request = new XMLHttpRequest();
	request.open("GET", url, true);
	request.onload = () => {
	    if (request.status != 200) return;
	    document.getElementById('participants-table').innerHTML = buildTable(request.response);
		// get number of participants from csv file
		window.numberOfParticipants = request.response.split('\n').length - 2;
		window.deelnemersTick.value = window.numberOfParticipants;
	};

	request.send();
</script>
