<style>
	#hpr_video {
		width: 100%;
		align-items: center;
		margin-bottom: 50px;
	}
</style>

<div id="hpr_video">

<!-- The script tag should live in the head of your page if at all possible -->
<script type="text/javascript" async src="https://play.vidyard.com/embed/v4.js"></script>

<!-- Put this wherever you would like your player to appear -->
<img
  style="width: 100%; margin: auto; display: block;"
  class="vidyard-player-embed"
  src="https://play.vidyard.com/fuCFD7cKFnKawJk39w8tZQ.jpg"
  data-uuid="fuCFD7cKFnKawJk39w8tZQ"
  data-v="4"
  data-type="inline"
/>
</div>

