/*navbar*/

.nav-item, #kinda-logo {
  padding: .5rem 1rem;
  padding-right: .5rem;
  padding-left: .5rem;
}
.nav-item a, #kinda-logo {
  color: rgba(255,255,255,.5);
}
.nav-item a:hover, #kinda-logo:hover {
  color: rgba(255,255,255,.95);
  text-decoration: none;
}

/*header*/

#banner {
  background-image: url('/assets/img/banner.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #fffe;
}

#countdown {
  display: inline-block;
  width: auto;
}

#countdown_wrapper {
  text-align: center;
}

#header_content {
  /* background: #0008; */
  padding: 4rem 0;
}

.dark_overlay {
  background: rgba(0,0,0,.5);
  /* background: #0008; */
}


section {padding: 50px 0;}
html, body {
  min-height: 100vh; /* Ensure the body takes the full height of the viewport */
  margin: 0; /* Remove default margin */
}
body {
  display: flex;
  flex-direction: column;
}
section {
  flex: 1; /* Grow to fill available space */
}

footer {
  padding-top: 1rem;
  width: 100%;
  overflow:hidden;
}

/* tables */
table {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, table th {
  border: 1px solid #ddd;
  padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2;}

tr:hover {background-color: #ddd;}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}

.headroom{-webkit-transition:all .4s ease-out;-moz-transition:all .4s ease-out;-o-transition:all .4s ease-out;transition:all .4s ease-out}img{max-width:100%}img.pull-right{margin-left:10px}img.pull-left{margin-right:10px}.sidebar{padding-top:36px;padding-bottom:30px}

.fa-ul {
  margin: 0;
}

.flipdown.flipdown__theme-dark .rotor-group-heading:before {
  color: #fff !important;
}

@media (max-width: 992px) {
  .navbar-nav.mr-auto, .navbar-nav.ml-auto {
    text-align: center;
  }
  .container-fluid {
    justify-content: center !important;
  }
  .navbar-brand {
    display: flex;
    width: 100%;
    justify-content: center;
  }
}