<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{site.title}} - {{page.title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <link rel="stylesheet" type="text/css" href="../css/flipdown.css">
    <script type="text/javascript" src="../js/flipdown.js"></script>
  </head>
  <body>
    {% include header.html %}
    <header class="masthead" style="height:30vh;">
          <div id="header_content">
            <h1 class="text white font-weight-bold">{{site.title}} - {{page.title}}</h1>
            <div id="countdown_wrapper">
              <div id="countdown" class="flipdown"></div>
            </div>
          </div>
    </header>
    <section id="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            {{content}}
          </div>
        </div>
      </div>
    </section>
    {% include footer.html %}
  </body>
  <script type="text/javascript" src="../js/countdown.js"> </script>
</html>